db.sqlite3
django/
.idea/
./initial_data.*
media/*
local_doc/
local_settings.py
monitor_temp/
logs/*.log*
venv/
shell/
__pycache__/
.coverage
*.py[co]
*.swp
*.swn
*.swo
*.swm
*.pid
local_deploy.sh
LocalDockerfile
docker/nginx/local.conf
celerybeat-schedule
